.testTodos {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

.todo-completed {
    text-decoration: line-through;
}

.delete-button {
    margin-top: initial;
    margin-left: 3px;
    padding: 1px 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}